<!doctype html>
<html ng-app>
<head>
<title>Angular.js - ng-click</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body>

<input type="search" ng-model="personfilter" />
<div ng-controller="PeopleList">
  <ul>
    <li ng-repeat="person in people | filter:personfilter">
      {{ person.name}} - {{ person.age }}

      | 
      <span ng-show="$first">First !!! </span>
      <span ng-show="$last">Last !!! </span>
      <span ng-show="$middle">Middle !!! </span>

      <button ng-click="removeperson($index)">Remove Person</button>
    </li>
  </ul>


  <div>
    <label>Name :</label>
    <input type="text" ng-model="name" />

    <br/>

    <label>Age :</label>
    <input type="number" ng-model="age" />

    <br/>

    <button ng-click="addperson()">Add person</button>
  </div>
</div>
<script>
  var PeopleList = function($scope) {
    $scope.people = [

      { name: "Dimitar", age: 12 },
      { name: "Alexander", age: 24 },
      { name: "Maria", age: 26 },
      { name: "Hristo", age: 28 },
    ];

    $scope.addperson = function() {
      var name = $scope.name;
      var age = $scope.age;
      var person = { name: name, age: age };

      console.log($scope.people);
      $scope.people.push(person);

      $scope.name = "";
      $scope.age = "";
    };

    $scope.removeperson = function(index) {
      $scope.people.splice(index, 1);
    };
  }
</script>
</body>
</html>
