<!doctype html>
<html ng-app>
<head>
<title>Angular.js - ng-change</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body>
<div ng-controller="ContactList">
  <div>
    <input type="search" ng-model="search" />
  </div>
  <select 
    ng-model="dropdown_contact_list"
    ng-change="person_is_changed()"
    ng-options="person.name for person in people | filter:search">
    <option value="">Choose a person:</option>
  </select>

  <input type="text" ng-model="event_listener" 
  ng-change="input_is_updated()" />
</div>
<script>
  var ContactList = function($scope) {
    console.log($scope);

    $scope.people = [
      { name: "Dimitar", number: 1234 },
      { name: "Alexander", number: 7890 },
      { name: "Maria", number: 7812 },
      { name: "Hristo", number: 9054 },
    ];

    $scope.person_is_changed = function() {
      $scope.event_listener = "Person is changed";
    };

    $scope.input_is_updated = function() {
      alert("Input is updated");
    };
  };
</script>
</body>
</html>
